/*@import url('https://fonts.googleapis.com/css?family=Oswald|Lato:300');*/

* {
  margin: 0;
  padding: 0;
  border: 0;
}

header {
    background-color: aqua;
}

#menu{
    list-style-type: none;
}

#menu a {
    text-decoration: none;
    color: black;
}

#menu a:hover {
    border-bottom: 1px solid #2647ff;
}

.left1 {
    float: left;
    position: absolute;
    top: 40px;
}

.left2 {
    float: left;
    position: absolute;
    left: 300px;
    top: 40px;
   
}

.right1 {
    float: right;
    position: absolute;
    top: 40px;
    right: 0px;
    
}

.right2 {
    float: right;
    position: absolute;
    top: 40px;
    right: 300px;
}
.img-position {
    position: relative;
    width: auto;
    height: 100px;
    background-image: url('https://i.ibb.co/NWzJ8nR/1200px-Cardiff-City-crest-svg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px 100px;
}


